---
import type { Meta } from "@/config/landing.interface";
interface Props {
  meta: Meta;
}
const { meta } = Astro.props;
const ldJson = JSON.stringify(meta.ldJson);
import "../styles/global.scss";
import { getLandingData } from "@/services/data.service";
import Header from "@/sections/Header.astro";
import MobHeader from "@/sections/MobHeader.astro";
const data = await getLandingData();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset={meta.charset ?? "UTF-8"} />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={import.meta.env.SITE} />
    <script type="application/ld+json" set:html={ldJson} />
    <meta name="generator" content={Astro.generator} />
    <title>{meta.title}</title>
  </head>
  <body>
    <div class="header-web">
      <Header data={data.headerData} />
    </div>
    <div class="header-mob">
      <MobHeader data={data.headerData} />
    </div>

    <slot />
  </body>
</html>

<style>
  .header-mob {
    display: none;
  }
  @media (max-width: 480px) {
    .header-web {
      display: none;
    }
    .top-header {
      display: none;
    }
    .header-mob {
      display: flex;
      width: 100vw;
    }
  }
  .whatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  }
  @media (max-width: 950px) {
    .header-web {
      display: none;
    }
    .header-mob {
      display: flex;
      width: 100vw;
    }
    .top-header {
      display: none;
    }
  }
</style>
